<h2 class="text-center">新增职位</h2>
<br>
<%= simple_form_for @job do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :wage_lower_bound %>
  <%= f.input :wage_upper_bound %>
  <%= f.input :contact_email %>

  <%= f.submit "发布" %>
<% end %>
